[Unit]
Description=WebSocket Thread Cam Service
After=network.target

[Service]
Type=simple
#WorkingDirectory=/usr/local/bin
#ExecStart=/usr/local/bin/run_cam.sh
ExecStart=/usr/local/bin/cam_service
#Restart=always
#RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ThreadCamService

Nice=-5 
#CPUSchedulingPolicy=fifo
IOSchedulingClass=best-effot     
CPUSchedulingPriority=0  
#IOSchedulingClass=realtime


[Install]
WantedBy=multi-user.target
~
~
~
~
